body {
    background:#ffffff top center;
    border:0;
    min-width:960px;
    font:14px 微软雅黑, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#09719f;
}

.main {
    background:#ffffff;
    margin:0 auto;
}

a {
    color:#09719f;
    text-decoration:none;
    outline:none;
}

a:hover {
    text-decoration:underline;
}

h2 {
    font-size:13px;
    color:#09719f;
    line-height:1.2em;
    letter-spacing:-1px;
}

h2 span {
    color:#ff0000;
}

.header {
    background:url(/static/frontend/images/headbg.png);
}

.header #logo {
    display:block;
    text-align:center;
}

.header .bg_wrap {
    width:100%;
    height:65px;
    background:#0d5b7d;
}

.header .nav_wrap {
    width:100%;
    height:37px;
    background:#2994c1;
}

.nav_menu {
    position:relative;
    width:900px;
    text-align:center;
    background:#1d8cbd;
    margin:auto;
}

.nav_menu>li,.nav_menu>li ul li {
    float:left;
    position:relative;
    list-style:none;
}

.nav_menu>li {
    width:109px;
}

.nav_menu>li ul li {
    float:left;
    width:105px;
}

.nav_menu>li a {
    color:#ffffff;
    line-height:37px;
    font-weight:bold;
    letter-spacing:2px;
    text-decoration:none;
}

.nav_menu>li:hover>a {
    letter-spacing:1px;
}

.nav_menu>li ul {
    position:absolute;
    text-align:center;
    display:none;
}

.nav_menu>li ul li a {
    line-height:28px;
}

.nav_menu>li:hover ul,.nav_menu>li:hover,.current {
    display:block;
    background:#0d5b7d;
}

.nav_menu li ul span {
    float:left;
    line-height:28px;
}

.nav_menu li ul span .order {
    float:none;
}

.bar {
    float:left;
    width:2px;
    height:35px;
    background:url(/static/frontend/images/bar.png) #1d8cbd center no-repeat;
    line-height:35px;
}

.nav_block {
    float:left;
    border:1px solid #a3b4bf;
    overflow:hidden;
    margin:7px 9px;
}

.titlebg {
    height:26px;
    background-color:#b3dff2;
    padding:6px 15px 0 8px;
}

.nav_block h2 {
    color:#05719f;
    font-size:14px;
    letter-spacing:2px;
    line-height:20px;
    border-left:5px solid #09719f;
    padding-left:4px;
    margin:0;
}

.nav_block h2 span a {
    color:#c30c21;
}

.nav_block h2 span {
    font-size:12px;
    float:right;
}

.nav_block li a {
    color:#05719f;
}

.nav_block li {
    font-size:13px;
    height:23px;
    padding-top:3px;
}

.nav_block ul {
    list-style:initial;
    color:#09719f;
    padding-left:28px;
}

.nav_block>ul li span {
    float:right;
    color:#707070;
    margin-right:10px;
}

.friends_link {
    height:33px;
    width:100%;
    overflow:hidden;
    background:#effaff;
    letter-spacing:1px;
    border-color:#a3b4bf;
    border-style:solid;
    border-width:1px 0;
    margin:7px auto;
}

.friends_link .links_wrap {
    width:960px;
    padding-left:16px;
    margin:auto;
}

.friends_link .titlebg {
    width:80px;
}

.friends_link h2 {
    text-align:center;
}

.friends_link ul {
    list-style:none;
    margin:-28px 0 0 96px;
}

.friends_link ul li {
    float:left;
    margin-right:45px;
}

.footer {
    background-color:#505050;
    float:left;
    width:100%;
    height:82px;
    padding-top:15px;
    text-align:center;
    line-height:35px;
    font-size:13px;
    color:#ffffff;
}

.footer ul {
    background:#505050;
    height:35px;
    letter-spacing:1px;
}

.footer p {
    color:#b4b4b4;
}

.footer ul span {
    line-height:32px;
}

.footer ul li {
    display:inline;
    list-style:none;
    position:relative;
}

.content {
    background:#ffffff;
    width:960px;
    padding-top:16px;
    margin:auto;
}

.title {
    height:110px;
    width:960px;
    background-color:#bae0f3;
}

.Chtitle {
    color:#09719f;
    font-size:26px;
    font-weight:normal;
    width:262px;
    border-bottom:2px solid #f7f6f6;
    padding:30px 0 6px 38px;
}

.Entitle {
    color:#f7f6f6;
    font-weight:normal;
    padding:5px 0 0 38px;
}

.wrap {
    margin-top:15px;
    overflow:hidden;
    margin-bottom:9px;
}

.part {
    background-color:#effaff;
    border:1px solid #a3b4bf;
    float:left;
}

.part li {
    font-size:14px;
    padding:10px 86px 10px 71px;
}

.first_aid li {
    background:url(/static/frontend/images/first_aidbg.png) no-repeat 21px 9px;
}

.ordinary li {
    background:url(/static/frontend/images/ordinarybg.png) no-repeat 21px 9px;
}

.expert li {
    background:url(/static/frontend/images/expertbg.png) no-repeat 21px 9px;
}

.test li {
    background:url(/static/frontend/images/testbg.png) no-repeat 21px 9px;
}

.part_cur li {
    background:#419cd5 url(/static/frontend/images/trafficonbg.png) no-repeat 21px 9px;
}

.traffic li {
    background:url(/static/frontend/images/trafficbg.png) no-repeat 21px 9px;
}

.first_aid li:hover {
    background:#8abce6 url(/static/frontend/images/first_aidonbg.png) no-repeat 21px 9px;
}

.ordinary li:hover {
    background:#8abce6 url(/static/frontend/images/ordinaryonbg.png) no-repeat 21px 9px;
}

.expert li:hover {
    background:#8abce6 url(/static/frontend/images/expertonbg.png) no-repeat 21px 9px;
}

.test li:hover {
    background:#8abce6 url(/static/frontend/images/testonbg.png) no-repeat 21px 9px;
}

.traffic li:hover {
    background:#8abce6 url(/static/frontend/images/trafficonbg.png) no-repeat 21px 9px;
}

.medical_guide {
    min-height:507px;
    width:712px;
    border:1px solid #a3b4bf;
    float:right;
}

.cur {
    background-color:#b5dff3;
    font-size:14px;
    padding:10px 23px;
}

.essay {
    /* padding-top:20px; */
    /* padding-bottom:19px; */
    border-bottom:2px dotted #7d7d7d;
    overflow:hidden;
    margin:12px 10px 14px;
}

.essay p {
    /* padding-bottom:32px; */
    font-size:13px;
    color:#000000;
    /* letter-spacing:1px; */
    text-indent:28px;
    line-height:25px;
}

.intro {
    /* overflow:hidden; */
    /* height:88px; */
    border-bottom:2px dotted #7d7d7d;
    margin:0 13px 0 15px;
    padding:12px 0 15px;
}

.intro h4 {
    /* width:503px; */
    /* float:right; */
    letter-spacing:1px;
    padding-bottom:8px;
}

.date {
    color:#707070;
    font-weight:normal;
    float:right;
}

.data {
    margin-bottom:7px;
    font-size:13px;
    padding-bottom:10px;
    color:#000000;
    text-align:center;
    padding-top:23px;
}

.data span {
    display:inline-block;
    width:40px;
    height:15px;
    line-height:15px;
    margin-top:3px;
    border:1px solid #000000;
}

.hospital li {
    background:url(/static/frontend/images/hospitalbg.png) no-repeat 21px 9px;
}

.rules li {
    background:url(/static/frontend/images/rulesbg.png) no-repeat 21px 9px;
}

.hospital li:hover {
    background:#8abce6 url(/static/frontend/images/hospitalonbg.png) no-repeat 21px 9px;
}

.rules li:hover {
    background:#8abce6 url(/static/frontend/images/rulesonbg.png) no-repeat 21px 9px;
}

.introduction h2 {
    font-size:28px;
    font-weight:normal;
    color:#09719f;
    padding-left:10px;
    border-left:3px solid #419cd5;
    margin:12px 10px 14px;
}

.table th {
    font-size:20px;
    color:#000000;
    text-align:center;
    line-height:30px;
    border:2px solid #09719f;
    width:20%;
    height:32px;
}

.feedback li {
    background:url(/static/frontend/images/feedbackbg.png) no-repeat 21px 9px;
}

.download li {
    background:url(/static/frontend/images/downloadbg.png) no-repeat 21px 9px;
}

.feedback li:hover {
    background:#8abce6 url(/static/frontend/images/feedbackonbg.png) no-repeat 21px 9px;
}

.intro img {
    width:154px;
    height:97px;
}

.details h4 {
    margin-top:10px;
    margin-bottom:7px;
    font-size:15px;
    letter-spacing:1px;
    text-align:center;
}

.attachment {
    margin-top:41px;
    border-top:1px dotted #929292;
}

.attachment h6 {
    font-size:13px;
    font-weight:normal;
    line-height:22px;
    margin-top:18px;
}

.attachment a {
    margin-left:26px;
}

.assistant li {
    background:url(/static/frontend/images/assistantbg.png) no-repeat 21px 9px;
}

.assistant li:hover {
    background:#8abce6 url(/static/frontend/images/assistantonbg.png) no-repeat 21px 9px;
}

.essay h4 {
    /* text-align:center; */
    /* margin-top:15px; */
    /* margin-bottom:10px; */
    color:#09719f;
    font-size:14px;
    /* letter-spacing:1px; */
    text-indent:28px;
    line-height:25px;
}

.last {
    border-bottom:none;
    padding-top:33px;
}

.doctor li {
    background:url(/static/frontend/images/doctorbg.png) no-repeat 21px 9px;
}

.doctor li:hover {
    background:#8abce6 url(/static/frontend/images/doctoronbg.png) no-repeat 21px 9px;
}

.download li:hover {
    background:#8abce6 url(/static/frontend/images/downloadonbg.png) no-repeat 21px 9px;
}

.block {
    border:1px solid #a3b4bf;
}

.status {
    color:#707070;
    font-weight:normal;
    letter-spacing:1px;
    float:right;
}

.commit {
    margin-top:19px;
    margin-left:6px;
    overflow:hidden;
}

.need {
    color:#c2051a;
    display:inline-block;
    width:16px;
    line-height:35px;
}

.kind {
    line-height:35px;
}

.commit select {
    margin-top:6px;
    width:100px;
    height:24px;
    border:1px solid #aaaaaa;
}

.name,.email {
    margin-top:6px;
    width:250px;
    height:24px;
    border:1px solid #aaaaaa;
}

.theme {
    margin-top:6px;
    width:632px;
    height:24px;
    border:1px solid #aaaaaa;
}

.commit textarea {
    margin-top:6px;
    width:628px;
    height:165px;
    border:1px solid #aaaaaa;
    resize:none;
}

.button {
    font-size:13px;
    letter-spacing:2px;
    color:#ffffff;
    background-color:#419cd5;
    width:105px;
    height:30px;
    border:1px solid #1d80b2;
    margin-top:8px;
    margin-bottom:9px;
    float:right;
}

.details p {
    font-size:13px;
    color:#000000;
    text-indent:26px;
    line-height:25px;
}

.right {
    float:right;
}

.wrapper {
    width:100%;
    overflow:hidden;
}

.prevent li {
    background:url(/static/frontend/images/preventbg.png) no-repeat 21px 9px;
}

.prevent li:hover {
    background:#8abce6 url(/static/frontend/images/preventonbg.png) no-repeat 21px 9px;
}

.health_care {
    width:696px;
    min-height:685px;
    border:1px solid #a3b4bf;
    float:right;
}

.health_care_list {
	width: 340px;
	height: 168px;
}

.essay_intro {
    width:503px;
    float:right;
}

.essay img {
    margin-right:15px;
    float:left;
    width:154px;
    height:97px;
}

.essay_intro p {
    font-size:13px;
    color:#000000;
    text-indent:30px;
    letter-spacing:2px;
    padding-top:5px;
    line-height:24px;
}

.message {
    width:615px;
    height:240px;
}

.message>ul {
    float:left;
    margin:-196px 0 0 253px;
}

.message>ul li {
    height:20px;
    width:335px;
}

.gallery {
    width:200px;
    height:160px;
    background:#eeeeee;
    overflow:hidden;
    margin:15px 10px;
    padding:10px 24px;
}

.photo_box {
    position:relative;
    width:1150px;
    height:140px;
    left:0;
    margin:5px 0 0 -5px;
}

.photo_box img {
    float:left;
    margin-right:20px;
    width:210px;
    height:140px;
}

.holder {
    position:relative;
    z-index:100;
    margin-top:-30px;
}

.holder p {
    clear:both;
    text-align:center;
}

.holder ul {
    float:right;
    background:url(/static/frontend/images/SPBar.png) no-repeat;
    margin:-15px -5px 0 0;
}

.holder ul li {
    float:left;
    width:12px;
    height:12px;
    list-style:none;
}

.holder ul li a {
    display:block;
    margin-top:-4px;
    height:16px;
    text-decoration:none;
}

.holder .current_pot {
    background:#ff0000;
}

.medical_service {
    width:298px;
    height:240px;
}

.health_educate {
    width:255px;
    height:168px;
}

.exper_schedule {
    width:298px;
    height:168px;
}

.exper_schedule>ul li div>span {
    color:#05719f;
    margin-right:50px;
}

.introduce_setting {
    position:relative;
    float:left;
    width:340px;
    height:195px;
}

.introduce_setting h2 {
    border:0;
}

.introduce,.setting {
    float:left;
    margin-right:10px;
    font-size:14px;
    color:#05719f;
    letter-spacing:2px;
}

.introduce:hover,.setting:hover {
    background:#ffffff;
}

.introduce {
    background:#ffffff;
    margin:-6px 5px 0 -17px;
    padding:6px 10px;
}

.setting {
    margin:-6px 5px 0 -5px;
    padding:6px;
}

.introduce_setting>ul {
    display:none;
}

#introducePhoto {
    margin:25px 0 0 34px;
}

#introducePhoto .photoContList {
    position:absolute;
}

.introduce_setting .LButton,.introduce_setting .RButton {
    width:22px;
    height:61px;
    padding:0;
}

.introduce_setting .LButton {
    position:absolute;
    z-index:1000;
    background-image:url(/static/frontend/images/TLButton.png);
    margin:30px -30px 0;
}

.introduce_setting .RButton {
    position:absolute;
    z-index:1000;
    background-image:url(/static/frontend/images/TRButton.png);
    margin:30px 0 0 281px;
}

.photoContent {
    position:absolute;
    width:540px;
    height:118px;
    top:55px;
    left:0;
}

.photoContent ul {
    float:left;
    margin-left:-15px;
}

.photoContent ul li {
    display:inline;
    float:left;
    margin:0 0 0 8px;
    padding:8px;
}

.photoContent ul li a {
    display:block;
    width:81px;
    height:118px;
    overflow:hidden;
}

.phone_number {
    width:255px;
    height:195px;
}

.phone_number>ul li div>span {
    color:#05719f;
    margin-right:20px;
}

.feed_back {
    width:298px;
    height:195px;
}

.col1 {
    width:264px;
    position:relative;
    margin:0 6px;
}

.col2 {
    width:560px;
    position:relative;
    margin:0 6px;
}

.news h2 {
    font-size:28px;
    font-weight:normal;
    color:#09719f;
    padding-left:10px;
    border-left:3px solid #419cd5;
    margin:12px 10px 0;
}

.essay_title {
    font-size:15px;
    color:#000000;
    text-align:center;
    padding-top:4px;
    padding-bottom:5px;
}

.health_edu li {
    background:url(/static/frontend/images/health_edubg.png) no-repeat 21px 9px;
}

.health_edu li:hover {
    background:#8abce6 url(/static/frontend/images/health_eduonbg.png) no-repeat 21px 9px;
}

.prevent_intro {
    height:88px;
    border-bottom:2px dotted #7d7d7d;
    margin:0 13px 0 15px;
    padding:12px 0 15px;
}

.prevent_intro h4 {
    letter-spacing:1px;
    padding-bottom:8px;
}

a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var {
    background:transparent;
    /* font-size:100%; */
    border:0;
    outline:0;
    vertical-align:top;
    margin:0;
    padding:0;
}

ol,ul {
    list-style:none;
}

blockquote,q {
    quotes:none;
}

table,table td {
    border:none;
    border-collapse:collapse;
    padding:0;
}

* {
    border:none;
}

.essay ol li {
    font-size:13px;
    color:#000000;
    letter-spacing:1px;
    text-indent:28px;
    line-height:25px;
}

.guide {
    overflow:hidden;
    margin-top:-50px;
}

.query {
    margin-top:50px;
    padding-bottom:10px;
    border-bottom:1px dotted #000000;
}

.query input {
    width:150px;
    height:30px;
    border:1px solid #09719f;
    margin-left:25px;
}

.query span {
    display:inline-block;
    width:44px;
    height:32px;
    background:url(/static/frontend/images/arrows.png) no-repeat 12px 8px;
    border:1px solid #a0a0a0;
    margin-left:22px;
}

.query button {
    font-size:18px;
    color:#ffffff;
    background-color:#419cd5;
    width:100px;
    height:34px;
    border:1px solid #09719f;
    margin-left:20px;
}

.map {
    width:696px;
}

.part_cur,.footer a {
    color:#ffffff;
}

.medical_guide h2,.department_intro h2,.communication h2,.health_care h2,.socialized_medicine h2 {
    font-size:28px;
    font-weight:normal;
    color:#09719f;
    padding-left:10px;
    border-left:3px solid #419cd5;
    margin:12px 10px 14px;
}

.department_intro,.introduction,.communication,.news,.socialized_medicine {
    width:696px;
    min-height:685px;
    border:1px solid #a3b4bf;
    float:right;
}

.list,.table,.details {
    margin:0 10px 14px;
}

.intro p,.prevent_intro p {
    color:#000000;
    font-size:13px;
    text-indent:28px;
    letter-spacing:1px;
    line-height:20px;
}

.data a,.essay li {
    color:#000000;
}

.left,.nav_block>ul li div,.message>ul li a,.col1,.col2,.col3,.cols {
    float:left;
}

.nav_menu .nav_menu_cur,.nav_menu>li ul li a:hover {
    color:#ffff33;
}

.exper_schedule ul,.phone_number ul {
    list-style:none;
    padding-left:14px;
}

#introducePhoto img,.photoContent ul li img {
    width:78px;
    height:118px;
}

#page3 .col1,#page4 .box2 .col1 {
    width:870px;
}

img,embed {
    vertical-align:top;
}
