h1{
    color:olive;
    padding:20px;
}
hr{
    color:teal;
}
h2{
    color:gray;
}
li{ 
    color:navy;
}
th{
    border-style:solid;
    border-color:white;
    border-right-width:2cm;
}
th.menu{
    color:rgb(168,144,158);
    font-size:xx-large;
}
th.s1{
    color:silver;
}
th.s2{
    color:green;
}
th.s3{
    color:blue;
}
th.s4{
    color:orange;
}
th.s5{
    color:red;
}
th.item{
    color:white;
    background-color:green;gray;
    font-style:normal;
    font-size:larger;
}
th.date{
    color:black;
    background-color:gray;
    font-style:oblique;
}
del{
    color:red;
    style:thick;
}
